﻿@using U6_w1_d3.Models
@model List<Scarpa>
@{
    ViewBag.Title = "Index";
}
<form action="/" method="post">
    @foreach (Scarpa item in Model)
    {
        if (item.Presente)
        {
            <img src="~/Content/FileUpload/@item.Immagine" width:"100px" />
            <p> @item.NomeArticolo </p>
            @Html.ActionLink("dettagli", "Details", new { id = item.Id }, new { @class = "btn btn-success" })

        }

    }<input type="submit" value="Salva" class="btn btn-success" />
</form>